<ion-view view-title="Add New Pet Information">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" href="#/pets/{{petID}}">&nbsp;{{petName}}</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button class="button button-full button-assertive", ui-sref="add-vaccination({id:petID})">Vaccination</button>
        <button class="button button-full button-assertive", ui-sref="add-visit({id:petID})">Visit</button>
        <button class="button button-full button-assertive", ui-sref="add-healthproblem({id:petID})">Health Problem</button>
        <button class="button button-full button-assertive", ui-sref="add-medication({id:petID})">Medication</button>
    </ion-content>
</ion-view>
