<ion-view view-title="Add New Medication">
    <ion-content class="padding">
        <ion-item class="item item-input">
            <span class="input-label">Medication Name</span>
                <input type="text" placeholder="What is the name of the medication?" ng-model="medication.name">
        </ion-item>
        <ion-item class="item item-input">
            <span class="input-label">Frequency</span>
                <input type="text" placeholder="How often should your pet take it?" ng-model="medication.frequency">
        </ion-item>
        <button class="button button-block button-positive" type="submit" ng-click="addMed()">Add Medication</button>
    </ion-content>
</ion-view>
