<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="The Mission">
<ion-content>
    <div>Wisconsin Companion Animal Resources, Education, and Social Services (WisCARES) is an innovative and unified approach to providing holistic health care and housing support to Dane County’s disadvantaged residents and their pets.

We recognize the benefits of animal companionship and appreciate the number of people faced with the decision of providing for their pets or their other family members.

With partnerships between the School of Veterinary Medicine, the School of Social Work, and other social services in the Dane County area, we aim to leverage pet ownership as a method to improve access to human medical and social services, allowing the human-animal bond to thrive in situations where it may be most needed.</div>
</ion-content>
</ion-view>
