<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pet.name}}">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" ng-href="#/pets">&nbsp;Pets</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap">
                <img ng-src="{{pet.photo_url}}" style="width: 64px; height: 64px">
                <h2>{{pet.name}}</h2>
                <p>
                    {{pet.species}}
                    <br />
                    {{pet.breed}}
                    <br />
                    {{pet.gender}}
                </p>
            </ion-item>
            <div class="text-center">
                    <a class="button button-clear button-dark ion-edit" ui-sref="pet-edit({id:pet.id})">&nbsp;Edit Pet</a>
                    <a class="button button-clear button-dark ion-plus-round" ui-sref="add-event({id:pet.id})">&nbsp;New Event</a>
                    <a class="button button-clear button-dark ion-trash-b" ng-click="deletePet()">&nbsp;Delete</a>
            </div>
        </ion-list>
        <div ng-hide="hideHpSect">
            <a class="button icon-right button-clear button-dark" ng-class="{ 'ion-android-arrow-dropdown' : showHealthProblems, 'ion-android-arrow-dropleft' : !showHealthProblems }"
               ng-model="showHealthProblems" ng-click="showHealthProblems=!showHealthProblems"><b>Health Problems</b></a>
            <div class="list card" ng-repeat="healthproblem in healthproblems" ng-show="showHealthProblems">
                <div class="item item-divider">{{healthproblem.dateOccurred}}</div>
                <div class="item item-body row">
                    <div class="col text-left">
                        {{healthproblem.description}}
                    </div>
                    <div class="col text-right">
                        <!--<a class="button icon-right button-clear ion-trash-b" ng-click="deleteHP(healthproblem)"></a>-->
                        <button class="button-clear ion-trash-b" ng-click="deleteHP(healthproblem)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="hideMedSect">
            <a class="button icon-right button-clear button-dark" ng-class="{ 'ion-android-arrow-dropdown' : showMedications, 'ion-android-arrow-dropleft' : !showMedications }"
               ng-model="showMedications" ng-click="showMedications=!showMedications"><b>Medications</b></a>
            <div class="list card" ng-repeat="medication in medications" ng-show="showMedications">
                <div class="item item-divider">{{medication.name}}</div>
                <div class="item item-body row">
                    <div class="col text-left">
                        {{medication.frequency}}                       
                    </div>
                    <div class="col text-right">
                        <button class="button-clear ion-trash-b" ng-click="deleteMed(medication)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="hideVisitSect">
            <a class="button icon-right button-clear button-dark" ng-class="{ 'ion-android-arrow-dropdown' : showVisits, 'ion-android-arrow-dropleft' : !showVisits }"
               ng-model="showVisits" ng-click="showVisits=!showVisits"><b>Visits</b></a>
            <div class="list card" ng-repeat="visit in visits" ng-show="showVisits">
                <div class="item item-divider">{{visit.dateVisited}}</div>
                <div class="item item-body row">
                    <div class="col text-left">
                        {{visit.location}}                        
                    </div>
                    <div class="col text-right">
                        <button class="button-clear ion-trash-b" ng-click="deleteVisit(visit)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="hideVaccSect">
            <a class="button icon-right button-clear button-dark" ng-class="{ 'ion-android-arrow-dropdown' : showVaccinations, 'ion-android-arrow-dropleft' : !showVaccinations }"
               ng-model="showVaccinations" ng-click="showVaccinations=!showVaccinations"><b>Vaccinations</b></a>
            <div class="list card" ng-repeat="vaccination in vaccinations" ng-show="showVaccinations">
                <div class="item item-divider">{{vaccination.name}}</div>
                <div class="item item-body row">
                    <div class="col text-left">
                        {{vaccination.dateGiven}}                        
                    </div>
                    <div class="col text-right">
                        <button class="button-clear ion-trash-b" ng-click="deleteVac(vaccination)"></button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
