<ion-view view-title="Add New Pet">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" ng-href="#/pets">&nbsp;Pets</a>
    </ion-nav-buttons>

    <ion-content class="padding">

        <form name="PetAddForm" novalidate>

            <ion-item class="item item-input">
                <span class="input-label">Pet Name</span>
<!-- 
                    <input type="text" placeholder="Whats your pets name?" ng-model="pet.name" required> -->

                    <input type="text" name="PetName" placeholder="Whats your pets name?"
                        ng-model="pet.name" ng-minlength="2" required>

            </ion-item>

            <ion-item class="item item-input">
                <span class="input-label">Birthday</span>

                    <input type="text" name="PetBirthday" placeholder="When was your pet born?" ng-model="pet.birthDate">

            </ion-item>

            <ion-item class="item item-input">
                <span class="input-label">Species</span>

                    <input type="text" name="PetSpecies" placeholder="What kind of pet is it?" ng-model="pet.species" required>

            </ion-item>

            <ion-item class="item item-input">
                <span class="input-label">Breed</span>

                    <input type="text" placeholder="What breed is your pet?" ng-model="pet.breed">

            </ion-item>

            <ion-item class="item item-input">

                <span class="input-label">Gender</span>
                    <input type="text" name="PetGender" placeholder="What is your pet's gender?" ng-model="pet.gender" required>

            </ion-item>

            <ion-item class="item item-input">

                <span class="input-label">Weight</span>
                    <input type="number" name="PetWeight" placeholder="Pet weight in pounds?" ng-model="pet.weight" required>

            </ion-item>

            <!--<div data-ng-controller="CameraCtrl">
                <button class="button button-full button-positive" ng-click="showActionSheet()">Upload Image</button>
                <progress max="100" value="0" id="ft-prog" ng-show="showProgress" class="progress"></progress>
            </div>-->

            <div class="padding">

                <p ng-show="PetAddForm.PetName.$error.required">* Pet Name is required</p>
                <p ng-show="PetAddForm.PetName.$error.minlength">* Pet Name must be longer than 2 characters</p>

                <p ng-show="PetAddForm.PetSpecies.$error.required">* Species is required</p>

                <p ng-show="PetAddForm.PetGender.$error.required">* Gender is required</p>

                <p ng-show="PetAddForm.PetWeight.$error.required">* Weight is required</p>
                <p ng-show="PetAddForm.PetWeight.$invalid && !PetAddForm.PetWeight.$pristine">* Weight must be a number of pounds</p>

            </div>


            <div class="padding">

                <button type="submit" class="button button-block button-assertive" ng-disabled   ="PetAddForm.$invalid" ng-click="addPet()">Add Pet</button>
                </div>

            </div>
            
        </form>

    </ion-content>

</ion-view>

