<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Editing">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" href="#/pets/{{pet.id}}">&nbsp;{{pet.name}}</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-item class="item item-input">
            <span class="input-label">Pet Name</span>
                <input type="text" placeholder="Whats your pets name?" ng-model="pet.name" required>
        </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Birthday</span>
                <input type="text" placeholder="When was your pet born?" ng-model="pet.birthDate">
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Species</span>
                <input type="text" placeholder="What kind of pet is it?" ng-model="pet.species" required>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Breed</span>
                <input type="text" placeholder="What breed is your pet?" ng-model="pet.breed">
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Gender</span>
                <input type="text" placeholder="What is your pet's gender?" ng-model="pet.gender" required>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Weight</span>
                <input type="text" placeholder="How much does your pet weigh?" ng-model="pet.weight" required>
            </ion-item>
            
            <div data-ng-controller="CameraCtrl">
                <button class="button button-full button-positive" ng-click="showActionSheet()">Upload Image</button>
                <progress max="100" value="0" id="ft-prog" ng-show="showProgress" class="progress"></progress>
            </div>
            <!--<label class="item item-input-inset">
                <button class="button button-small" ng-href="#/event">
                    _Health Problem_
                </button>
                <button class="button button-small" ng-href="#/event">
                    _Medications__
                </button>
                <button class="button button-small" ng-href="#/event">
                    __Visits__
                </button>
                <button class="button button-small" ng-href="#/event">
                    _Vaccination_
                </button>
            </label>
        <div data-ng-controller="CameraCtrl">
            <button class="button button-full button-positive" ng-click="showActionSheet()">
                Upload Image
            </button>
            <progress max="100" value="0" id="ft-prog" ng-show="showProgress" class="progress"></progress>
        </div>-->
        <label class="item">
            <button class="button button-block button-positive" type="submit" ng-click="updatePet()">Save Pet</button>
        </label>

</ion-content>
</ion-view>
