<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pet.name}}">
    <ion-content class="padding">
        <ion-list>
            <a class="item-icon-left" ng-href="#/pets">Pets</a>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap">
                <img ng-src="https://d30y9cdsu7xlg0.cloudfront.net/png/13421-200.png" style="width: 64px; height: 64px">
                <h2>{{pet.name}}</h2>
                <p>
                    {{pet.species}}
                    <br />
                    {{pet.breed}}
                    <br />
                    {{pet.gender}}
                </p>
            <div>
                <a class="button button-clear button-positive" ui-sref="pet-edit({id:pet.id})">Edit</a>
                <a class="button button-clear button-positive" ui-sref="add-event({id:pet.id})">Add Event</a>
                <a class="button button-clear button-assertive" ng-click="deletePet()">Delete</a>
            </div>
            </ion-item>
            <!--
            <ion-item type="item-text-wrap">
                <ul class="eventTypeList">
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="filters.showHealthProblems" >
                        </label>
                        Health problems
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="filters.showVaccinations" >
                        </label>
                        Vaccinations
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="filters.showMedications" >
                        </label>
                        Medications
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="filters.showVisits" >
                        </label>
                        Visits
                    </li>
                </ul>
            </ion-item>
            -->
        </ion-list>
        <br />
        <div >
            <a class="button icon-right ion-android-arrow-dropdown-circle button-clear button-dark" ng-model="filters.showHealthProblems" 
               ng-click="filters.showHealthProblems=!filters.showHealthProblems"><b>Health Problems</b></a>
            <div class="list card" ng-repeat="healthproblem in healthproblems" ng-show="filters.showHealthProblems">
                <div class="item item-divider">{{healthproblem.dateOccurred}}</div>
                <div class="item item-body">
                    <div>
                        {{healthproblem.description}}   
                        <button class="btn btn-primary" ng-click="deleteHP(healthproblem)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="button icon-right ion-android-arrow-dropdown-circle button-clear button-dark" ng-model="filters.showMedications" 
               ng-click="filters.showMedications=!filters.showMedications"><b>Medications</b></a>
            <div class="list card" ng-repeat="medication in medications" ng-show="filters.showMedications">
                <div class="item item-divider">{{medication.name}}</div>
                <div class="item item-body">
                    <div>
                        {{medication.frequency}}
                        <button class="btn btn-primary" ng-click="deleteMed(medication)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <a class="button icon-right ion-android-arrow-dropdown-circle button-clear button-dark" ng-model="filters.showVisits" 
               ng-click="filters.showVisits=!filters.showVisits"><b>Visits</b></a>
            <div class="list card" ng-repeat="visit in visits" ng-show="filters.showVisits">
                <div class="item item-divider">{{visit.dateVisited}}</div>
                <div class="item item-body">
                    <div>
                        {{visit.location}}   
                        <button class="btn btn-primary" ng-click="deleteVisit(visit)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="button icon-right ion-android-arrow-dropdown-circle button-clear button-dark" ng-model="filters.showVaccinations" 
               ng-click="filters.showVaccinations=!filters.showVaccinations"><b>Vaccinations</b></a>
            <div class="list card" ng-repeat="vaccination in vaccinations" ng-show="filters.showVaccinations">
                <div class="item item-divider">{{vaccination.name}}</div>
                <div class="item item-body">
                    <div>
                        {{vaccination.dateGiven}}
                        <button class="btn btn-primary" ng-click="deleteVac(vaccination)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
