<ion-view view-title="Resources">
    <ion-content class="padding">
        <div class="list">

            <a class="button button-block  button-assertive item-icon-left" ng-href="#/map-vet">
                <i class="icon ion-search"></i>
                Find Vets Near You
            </a>

            <a class="button button-block  button-assertive item-icon-left" ng-href="#/map-supplies">
                <i class="icon ion-search"></i>
                Find Pet Supplies near you
            </a>
        </div>
            <ion-item class="item item-input">
                <span class="input-label">Search Input</span>
                <input type="text" ng-model="val.search" placeholder="food">
            </ion-item>
            <button class="button button-bar button-assertive" type="submit" ng-click="search()">
            Search
            </button>
    </ion-content>  
    
</ion-view>

