<ion-view view-title="Resources">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" ng-href="#/tab-home">&nbsp;Home</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        

            <button class="button button-block button-assertive" ng-click="searchVet()">
                <i class="icon ion-search"></i>
                Find Vets Near You
            </button>
             <button class="button button-block button-assertive" ng-click="searchSupplies()">
                <i class="icon ion-search"></i>
                Find Pet Supplies near you
            </button>
            <ion-item class="item item-input">
                <span class="input-label">Search Input</span>
                <input type="text" ng-model="val.search" placeholder="food">
            </ion-item>
            <button class="button button-block button-assertive" type="submit" ng-click="search()">
                <i class="icon ion-search"></i>
                Search
            </button>
    </ion-content>  
    
</ion-view>


<!-- 
<ion-view view-title="Resources">
    <ion-content class="padding">
        <div class="list">

            <a class="item item-icon-left" ng-href="#/map-vet">
                <i class="icon ion-search"></i>
                Find Vets Near You
            </a>

            <a class="item item-icon-left" ng-href="#/map-supplies">
                <i class="icon ion-search"></i>
                Find Pet Supplies near you
            </a>
        </div>
            <ion-item class="item item-input">
                <span class="input-label">Search Input</span>
                <input type="text" ng-model="val.search" placeholder="food">
            </ion-item>
            <button class="button button-bar button-positive" type="submit" ng-click="search()">
            Search
            </button>
    </ion-content>  
    
</ion-view>

 -->