<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content>

        <form ng-submit="doSignUp()" name="signUpForm">
            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="username" placeholder="Username" ng-model="signUpData.email" ng-minlength="4" ng-maxlength="20" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="signUpData.password" placeholder="Password" ng-minlength="4" ng-maxlength="20" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" name="password_confirmation" ng-model="signUpData.password_confirmation" placeholder="Confirm Password" required>
                </label>

                <div class="padding">

                <p ng-show="signUpForm.username.$error.minlength">* Username must be longer than 4 letters</p>
                <p ng-show="signUpForm.username.$error.maxlength">* Username must be shorter than 20 letters</p>

                <p ng-show="signUpForm.username.$invalid && !signUpForm.username.$pristine">* Username must be an email address</p>

                <p ng-show="signUpForm.password.$error.minlength">* Password must be longer than 4 letters</p>
                <p ng-show="signUpForm.password.$error.maxlength">* Passowrd must be shorter than 20 letters</p>

                </div>

                <label class="item">
                    <button class="button button-block button-assertive" type="submit" ng_disabled="!signUpForm.$valid">Sign up</button>
                </label>
                
            </div>
        </form>
    </ion-content>
</ion-modal-view>
