<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-left" ng-href="#/pets">
                <i class="icon ion-edit"></i>
                Pets
            </a>

            <a class="item item-icon-left" ng-href="#/resources">
                <i class="icon ion-search"></i>
                Resources
            </a>

            <!--<a class="item item-icon-left" ng-href="#/reminders">
                <i class="icon ion-bookmark"></i>
                Reminders
            </a>-->

            <a class="item item-icon-left" ng-href="#/vets">
                <i class="icon ion-medkit"></i>
                Vets
            </a>

            <a class="item item-icon-left" ng-href="#/mission">
                <i class="icon ion-trophy"></i>
                Mission
            </a>

            <a class="item item-icon-left" ng-href="#/options">
                <i class="icon ion-gear-a"></i>
                Options
            </a>

        </div>
    </ion-content>
</ion-view>
