<ion-view title="Vet">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" ng-href="#/vets">&nbsp;Vets</a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

    <form name="VetAddForm" novalidate>

        <ion-list>
            <ion-item class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Veterinarian Name" name="vetname" ng-model="vet.name" ng-minlength="2" ng-maxlength="20" required>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Address</span>
                <input type="tel" placeholder="Veterinarian Address" ng-model="vet.address">
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Phone Number</span>
                <input type="tel" placeholder="Veterinarian Phone #" ng-model="vet.contact">
            </ion-item>

            <div class="padding">

                <p ng-show="VetAddForm.vetname.$error.required">* Veterinarian Name is required</p>
                <p ng-show="VetAddForm.vetname.$error.minlength">* Veterinarian Name must be longer than 2 characters</p>
                <p ng-show="VetAddForm.vetname.$error.maxlength">* Veterinarian Name must be shorter than 20 characters</p>

            </div>

        <button class="button button-block button-assertive" type="submit" ng-disabled   ="VetAddForm.$invalid" ng-click="addVet()">Add Vet</button>

        </ion-list>
        </form>

    </ion-content>
</ion-view>