<ion-view title="Vet">
    <ion-nav-buttons side="primary">
        <a class="button icon-left button-clear ion-ios-arrow-left" ng-href="#/home">&nbsp;Home</a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="list card" ng-repeat="vet in vets">
            <div class="item item-divider">{{vet.name}}</div>
            <div class="item item-body">
                <div>
                    {{vet.contact}}  
                    <button class="button button-clear button-dark ion-search" ui-sref="vet-detail({id:vet.id})"> View</button>
                    <button class="button button-clear button-dark ion-trash-b" ng-click="deleteVet(vet)"> Remove</button>
                </div>
            </div>
        </div>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/vets/vet-add">
                <img ng-src="https://d30y9cdsu7xlg0.cloudfront.net/png/13421-200.png">
                <i class="icon ion-ios-plus-empty"></i>
                <h2>New Vet</h2>
        </ion-item>
    </ion-content>
</ion-view>