<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pet.name}}">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap">
                <img ng-src="https://d30y9cdsu7xlg0.cloudfront.net/png/13421-200.png" style="width: 64px; height: 64px">
                <h2>{{pet.name}}</h2>
                <p>
                    {{pet.species}}
                    <br />
                    {{pet.breed}}
                    <br />
                    {{pet.gender}}
                </p>
            </ion-item>
                <ul class="eventTypeList">
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                        </label>
                        Health problems
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                        </label>
                        Vaccinations
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                        </label>
                        Medications
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                        </label>
                        Visits
                    </li>
                    <li class="item item-checkbox eventType">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                        </label>
                        Documents
                    </li>
                </ul>
            <ion-item class="item-icon-right" type="item-text-wrap" href="#">
                <i class="icon ion-ios-plus-empty"></i>
                <h2>New event</h2>
            </ion-item>
            <ion-item ng-repeat="event in events" type="item-text-wrap" href="#">

                <h2>{{event.type}} - {{event.name}}</h2>
                <p>{{event.description}}</p>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
