<ion-view view-title="Home">
  <ion-content class="padding">

      <div class="list">

          <a class="item item-icon-left" href="#">
              <i class="icon ion-edit"></i>
              Enter data
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-book"></i>
              Review data
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-search"></i>
              Resources
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-bookmark"></i>
              Reminders
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-medkit"></i>
              Vets
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-trophy"></i>
              Mission
          </a>

      </div>
  </ion-content>
</ion-view>
