<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list">

            <a class="item item-icon-left" ng-controller="AppCtrl" ng-click="login()">
                <i class="icon ion-edit"></i>
                Please login
            </a>

            <a class="item item-icon-left" href="#/tab/pets">
                <i class="icon ion-edit"></i>
                Pets
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-search"></i>
                Resources
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-bookmark"></i>
                Reminders
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-medkit"></i>
                Vets
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-trophy"></i>
                Mission
            </a>

        </div>
    </ion-content>
</ion-view>
