<ion-view title="Vet">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Pet Name</div>
            <div class="item item-body"></div>
        </div>
        <form class="list"></form>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Contact</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
    </ion-content>
</ion-view>