<ion-view title="Vet">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <button class="button button-stable button-icon  icon-left ion-android-arrow-back">back</button>
        </form>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Pet Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
    </ion-content>
</ion-view>