/* Empty. Add your own CSS if you like */
.eventType {
    display: inline-block;
    margin: 2px;

}
.eventTypeList {
    margin: 10px;
}

/****** Image for Mssion**************/
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 75%;
    height: 100%;
}
/********End image for mission**********/